* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #a6928d;
}

.container {
  width: 100%;
  height: 90vh;
  max-height: 100vh;
}

.container-nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #5f4e49;
  padding: 0 20px;
}

.container-nav a {
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container-nav h1 {
    font-size: 20px;
  }

  .container-nav a {
    font-size: 16px;
  }
}

.container-dados-cliente {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-dados-cliente div {
  padding: 10px;
}

#itens-selecionados {
  margin: 20px 0 0 20px;
}

.container-itens-selecionados {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-itens-selecionados div {
  padding: 10px;
}

@media (max-width: 768px) {
  .container-itens-selecionados h1 {
    font-size: 20px;
  }
}

.container-valor-total {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-valor-total span {
  padding: 10px;
}
