*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-principal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container-principal-inputs{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-principal-inputs div{
    /* width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; */
}

.container-principal-inputs input{
    width: 10%;
    height: 10%;
}

.container-principal-botao{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}